#blokje1 {
    width: 100px;
    height: 100px;
    color: white;
    float: left;
}
#blokje2 {
    width: 100px;
    height: 100px;
    color: white;
    float: left;
}
#blokje3 {
    width: 100px;
    height: 100px;
    color: white;
    float: left;
}
#blokje4 {
    width: 100px;
    height: 100px;
    color: white;
    float: left;
}
